<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="box">

        <nav>
            <h2>Logo</h2>

            <ul class="menu">
                <li><a href="/students/">Home</a></li>
                <li><a href="/students/create">Create Student</a></li>
                <li><a href="/students/all">All students</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>


        <main>
            {{{body}}}
        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>
</body>
</html>