<div class="auth_body">
    <div class="registration-card">
        <div class="banner">
            <h2>Login</h2>
        </div>
        <form class="form-fields" action="/auth/register" method="POST">
            <label for="email">Email</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password">            
            <button type="submit">Login</button>
        </form>
        <div class="login-link">
            <p>Don't have an account? <a href="/auth/register">Register</a></p>
        </div>
    </div>
</div>