<div class="auth_body">
    <div class="registration-card">
        <div class="banner">
            <h2>Login</h2>
        </div>
        <form class="form-fields" action="/auth/login" method="POST">
            <label for="email">Email</label>
            <input class="text-input" type="email" name="email" id="email" placeholder="Enter Email">
            <label for="password">Password</label>
            <input class="text-input" type="password" name="password" id="password" placeholder="Enter password">            
            <button type="submit">Login</button>
        </form>
        <div class="login-link">
            <p>Don't have an account? <a href="/auth/register">Register</a></p>
        </div>
    </div>
</div>