<h1 class="defaultHeadLine__1">Create Genre</h1>

<div class="genre__container">
    
    <div class="box">
        <div class="content">
            <form action="/genre/create" method="POST">
                <label class="genre-label" for="name">Genre Name</label>
                <input class="text-input" type="text" name="name" id="name" placeholder="Enter genre name...">
                <input class="btn-submit" type="submit" value="Create">
            </form>
        </div>
    </div>
</div>