@import './authForms.css';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  --primary: #22d2a0;
  --secondary: #192824;
  --background: #192824;
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
  background-color: var(--background);
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
.footer {
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.container {
  margin: 0 auto;
  width: 80%;
  padding-top: 4rem;
  max-width: 1200px;
  height: 100%;
  margin-bottom: 4.2rem;
}

/* Nav styling */
.nav {
  display: flex;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 50;
}
.nav h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-right: 3rem;
}
/* End of Nav styling */
/* buttons */
.link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.7rem;
}
/* Genre Form */
.genre__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.defaultHeadLine__1 {
  margin-bottom: 1rem;
  text-align: center;
}

.box {
  position: relative;
  width: 450px;
  height: auto;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  background-color: var(--background);
}
.box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  background-color: #fff;
  z-index: -1;
}
.box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  background-color: #fff;
  z-index: -2;
  filter: blur(40px);
}
.box:before,
.box:after {
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  animation: animate 20s linear infinite;
}

.text-input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff9c55;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  border-radius: 10px;
  color: white;
  transition: 0.35s;
}
.text-input:focus {
  width: 260px;
  border-color: #ff5555;
}
.genre__container {
  display: flex;
  align-items: center;
  min-height: 85vh;
}
.btn-submit {
  border: 0;
  color: white;
  padding: 14px 40px;
  width: 280px;
  margin: 20px auto;
  border-radius: 10px;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
}
.btn-submit:hover {
  cursor: pointer;
  background: #ff5555;
}
.label {
  font-size: 20px;
  color: #ff9c55;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}
/* End Of Genre Card */

/* Author card */
.author__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
/* End of Author card */

.author-content {
  justify-content: center;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  align-self: center;
  margin: 0 auto;
}
.position-input-label {
  margin: 1rem auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.textarea-label {
  margin: 1rem auto;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: 2px solid #ff9c55;
  color: white;
}
.textarea-label:focus {
  outline: none;
  border-color: #ff5555;
}

.dropdown-menu {
  background-color: var(--background);
  color: white;
  border: 2px solid #ff9c55;
  border-radius: 10px;
  width: 250px;
  margin: 20px auto;
  text-align: center;
  padding: 14px 10px;
  outline: none;
  transition: 0.35s;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(70px, 1fr)
  ); /* Adjust minmax values as needed */
  gap: 10px; /* Adjust the gap between items */
  text-align: center;
  align-items: center;
}
.dropdown-item {
  display: flex;
  flex-direction: column;
}
.dropdown-element-position {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: #ff9c55;
  margin-bottom: 10px;
}

.about__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.about__cover {
  flex: 1;
  max-width: 50%;
  height: 85vh;
}
.about__text {
  flex: 1;
  max-width: 50%;
  height: auto;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Book card */
.book-card {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  /* Pseudo-elements for the gradient and blur effect */
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #fff;
    z-index: -1;
  }

  &::after {
    filter: blur(20px); /* Adjust based on your desired blur strength */
  }

  &::before,
  &::after {
    background: linear-gradient(22deg, #ff5555, #ff9c55);
    animation: animate 20s linear infinite;
  }
  border: 1px solid #ddd;
  padding: 10px;
}
.book-card:hover {
  box-shadow: 0 8px 16px rgba(255, 85, 85, 0.5),
    0 0 26px rgba(255, 156, 85, 0.5);
}
/* Styling for the book cover image */
.book-card img {
  max-width: 100%;
  height: 70%;
  border-radius: 4px;
}

/* Styling for the book details */
.book-details {
  flex-grow: 1;
  margin-left: 10px;
}

/* Styling for the book title */
.book-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling for the book author */
.book-author {
  font-size: 1em;
  color: #555;
  margin-bottom: 8px;
}

/* Styling for the book description */
.book-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4; /* Display up to 2 lines */
  max-height: 6em;
}
.book-description:not(:-webkit-box) {
  max-height: 6em; /* Display up to 2 lines with a fallback for other browsers */
  overflow: hidden;
}

.btn_details {
  display: block;
  margin: 0 auto;
  background: #ff9c55;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: semi-bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 10px;
}
.btn_details:hover {
  cursor: pointer;
  background: var(--red);
}

.list__container{
  margin-bottom: 9rem;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  padding: 0.7rem;  
  border: #ff5555 1px solid;
  border-radius: 10px;
  color: var(--orange);
}
.pagination a:hover {
  background: var(--red);
  color: #fff;
}
.first__last{
  margin: 0 5px;
  text-decoration: none;
  padding: 0.7rem;  
  color: white;
  background: var(--green);

}
.pagination__pages{
  display: flex;
  justify-content: center;
  color: var(--orange);
}
.pagination a.active {
  font-weight: bold;
}

/* DETAILS */
.book__details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 3rem;
  margin-bottom: 20px;
}
.book__details__left {
  flex: 1;
  margin-right: 20px;
}

.book__details__left img {
  width: 50vh;
  height: auto;
}
.header {
  z-index: 10;
  margin-bottom: 2rem;
}
.book__details__right {
  flex: 1;
  z-index: -100;
}
.book__details__right {
  flex: 1;
  max-width: 400px;
  padding: 20px; /* Add padding to create some space around the content */
}

.book__details__right__title {
  font-size: 2.5em; /* Adjust the font size for the title */
  font-weight: bold;
  margin-bottom: 10px; /* Add margin to separate title from other details */
}

.book__details__right__author {
  color: #555; /* Change text color for author name */
  margin-bottom: 8px;
}

.book__details__right__description {
  line-height: 1.5; /* Increase line height for better readability */
  margin-bottom: 15px;
}

.book__details__right__genre,
.book__details__right__publishedDate {
  color: #777; /* Change text color for genre and published date */
}

.published-books-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8.7px solid #ff5555;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

/* Styles for each published book card in the carousel */
.published-book-card {
  background-color: var(--background);
  position: relative;
  border: 1px solid linear-gradient(22deg, #ff5555, #ff9c55);
  border-radius: 8px;
  margin: 0 15px;
  padding: 10px;
  width: 250px;
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.published-book-card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  z-index: -1;
}

.published-book-card:hover {
  transform: scale(1.05);
}

.published-book-card:hover {
  transform: scale(1.05);
}

.published-book-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.published-book-details {
  margin-top: 10px;
}

.published-book-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.published-book-description {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 8px;
  max-height: 40px;
  overflow: hidden;
}

.published-book-publishedDate {
  font-size: 0.8em;
  color: #777;
}
.banner {
  width: 99.7%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  margin-bottom: -8px;
  z-index: 2;
}

.details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.go__back__button {
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  border: none;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  top: 55%;
  left:53%;
  width: 20%;
  text-align: center;
}
.go__back__button:hover {
  cursor: pointer;  
  background: var(--red);
}
.button_Edit{
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  border: none;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  top: 55%;
  left: 53%;
  text-decoration: none;
  width: 20%;
  text-align: center;
}
.button_Edit:hover {
  cursor: pointer;  
  background: var(--red);
}
.button__Delete{
  background: #ff5555;
  border: none;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  top: 55%;
  left:53%;
  width: 20%;
  text-align: center;
}
.button__Delete:hover {
  cursor: pointer;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
}

@keyframes spreadAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.button__navigation_container{
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  margin: 0 auto; 
  height:auto;
  margin-top: 2rem;
  overflow: hidden; 
  transition: width 0.5s ease;
}
.initial-animation {
  animation: spreadAnimation 1s ease;
}
.button__navigation_container button {
  border: none;
  background-color: #ff5555;
  color: #fff;
  cursor: pointer;
}
.button__navigation_container:hover {  
  width: 100%; 
}

@media only screen and (max-width: 767px) {
  .book__details {
    flex-direction: column; /* Change to column layout for small devices */
    align-items: center; /* Center items in column layout */
    height: auto; /* Remove fixed height for responsiveness */
  }

  .book__details__left {
    flex: none; /* Disable flex for the left section to allow natural width */
    margin-right: 0; /* Remove margin for small devices */
  }

  .book__details__left img {
    width: 100%; /* Make the image fill the container */
    max-width: none; /* Remove max-width for small devices */
  }

  .book__details__right {
    flex: none; /* Disable flex for the right section to allow natural width */
    max-width: none; /* Remove max-width for small devices */
  }
}