body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  --primary: #22d2a0;
  --secondary: #192824;
  --background: #192824;
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
  background-color: var(--background);
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
.footer {
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 80%;
  padding-top: 4rem;
  max-width: 1200px;
  height: 100%;
  margin-bottom: 4.2rem;
}

/* Nav styling */
.nav {
  display: flex;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 50;
}
.nav h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-right: 3rem;
}
/* End of Nav styling */
/* buttons */
.link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.7rem;
}
/* Genre Form */
.genre__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.defaultHeadLine__1 {
  margin-bottom: 1rem;
  text-align: center;
}

.box {
  position: relative;
  width: 450px;
  height: auto;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  background-color: var(--background);
}
.box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  background-color: #fff;
  z-index: -1;
}
.box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  background-color: #fff;
  z-index: -2;
  filter: blur(40px);
}
.box:before,
.box:after {
  background: linear-gradient(22deg, #ff5555, #ff9c55);
  animation: animate 20s linear infinite;
}

.text-input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff9c55;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  border-radius: 10px;
  color: white;
  transition: 0.35s;
}
.text-input:focus {
  width: 260px;
  border-color: #ff5555;
}
.genre__container {
  display: flex;
  align-items: center;
  min-height: 85vh;
}
.btn-submit {
  border: 0;
  color: white;
  padding: 14px 40px;
  width: 280px;
  margin: 20px auto;
  border-radius: 10px;
  background: linear-gradient(22deg, #ff5555, #ff9c55);
}
.btn-submit:hover {
  cursor: pointer;
  background: #ff5555;
}
.label {
  font-size: 20px;
  color: #ff9c55;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}
/* End Of Genre Card */

/* Author card */
.author__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
/* End of Author card */

.author-content {
  justify-content: center;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  align-self: center;
  margin: 0 auto;
}
.position-input-label {
  margin: 1rem auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.textarea-label {
  margin: 1rem auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: 2px solid #ff9c55;
  color: white;
}
.textarea-label:focus {
  outline: none;
  border-color: #ff5555;
}

.dropdown-menu {
  background-color: var(--background);
  color: white;
  border: 2px solid #ff9c55;
  border-radius: 10px;
  width: 250px;
  margin: 20px auto;
  text-align: center;
  padding: 14px 10px;
  outline: none;
  transition: 0.35s;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(70px, 1fr)
  ); /* Adjust minmax values as needed */
  gap: 10px; /* Adjust the gap between items */
  text-align: center;
  align-items: center;
}
.dropdown-item {
  display: flex;
  flex-direction: column;
}
.dropdown-element-position {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: #ff9c55;
  margin-bottom: 10px;
}

.about__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.about__cover {
  flex: 1;
  max-width: 50%;
  height: 86vh;
}
.about__text {
  flex: 1;
  max-width: 50%;
  height: auto;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
