<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise about books and authors</title>
    <link href="/css/global.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="root" id="box">
        <header class="nav">
            <h1><a href="/" class="link">Exercise about books</a></h1>
            <ul>
                <li><a href="/books" class="link">Books</a></li>
                <li><a href="/books/add" class="link">Add Books</a></li>
                {{!-- Genre creation will be fixed when we add admin section --}}
                <li><a href="/genre/create" class="link">Create Genres</a></li>
                <li><a href="/authors" class="link">Authors</a></li>
                <li><a href="/about" class="link">About</a></li>
            </ul>
        </header>

        <main class="container">
            {{{body}}}
        </main>
        <footer class="footer">
            © JS Back-End Workshop
        </footer>
    </div>
</body>


</html>