<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise about books and authors</title>
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link href="/css/global.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="root" id="box">
        <header class="nav">
            <h1><a href="/" class="link">Exercise about books</a></h1>
            <ul>
                <li><a href="/book" class="link">Books</a></li>
                <li><a href="/book/create" class="link">Add Books</a></li>

                {{!-- Genre creation will be fixed when we add admin section --}}
                <li><a href="/genre/create" class="link">Create Genres</a></li>

                {{!-- Author creation will be fixed when we add admin section --}}
                <li><a href="/author/create" class="link">Create Author</a></li>

                <li><a href="/authors" class="link">Authors</a></li>
                <li><a href="/about" class="link">About</a></li>
            </ul>
        </header>

        <main class="container">
            {{{body}}}
        </main>
        <footer class="footer">
            © JS Back-End Workshop
        </footer>
    </div>
</body>


</html>